*{
    padding: 0;
    margin: 0;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    font-family: arial;
    
}

.container .form-login{
    position: relative;
    display: flex;
    align-items: center;
    width: 50vw;
    height: 60vh;
    background: #fff;
    
}

.container .form-cadastro{
    position: relative;
    background: #fff;
}

.container .imagem{
    position: absolute;
    right: 20%;
    color: #fff;
    height: 60%;
    width: 28%;
    background: linear-gradient( rgb(255, 89, 0), rgb(223, 192, 17));
    background-repeat: no-repeat;
    clip-path: polygon(0 0,100% 0,100% 100%, 0% 100%);
}
.container .imagem .texto p{
    font-size: 12px;
  
}

.container .imagem .texto h2{
    font-size: 34px;
     margin-bottom: 20px;
}

.container .imagem .texto{
    position: absolute;
    right: 0;
    padding: 30px;
    text-align: right;
    width: 60%;
}

.form-login input{
    width: 280px;
    margin: 20px 10px;
    padding: 8px 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ee410c;
}

.logo{
    padding: 80px;
    width: 50%;
    margin: 20px;
    opacity: 0.7;
   
}

h2{
    padding: 10px;

}

button{
    width: 300px;
    padding: 10px;
    margin: 20px 15px;
    outline: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  
}


.btn-abrir-conta{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    
}
 a{
     text-decoration: none;
     color: white;
 }